{% extends 'base.html' %}

{% comment %}
<!-- Daca folosim un Class Based View de tipul 'View' sau 'TemplateView' -->
<!-- putem defini noi numele variabilelor din dictionarul 'extra_context'. -->

{% block content %}
<h1>Welcome to HollyMovies!</h1>
<ul>
    {% for movie in movies %}
    <li>
        {{ movie.title }} ({{ movie.released.year }}) - {{ movie.genre.name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% endcomment %}

{% comment %}
<!-- Daca folosim un Class Based View de tipul 'ListView' -->
<!-- Variabila folosita in html pentru 'for' va avea automat numele 'object_list' -->
{% endcomment %}

{% block content %}
<h1>Welcome to HollyMovies!</h1>
<ul>
    {% for movie in object_list %}
    <li>
        <a href="{% url 'movie-detail' movie.slug %}"> {{ movie.title }} ({{ movie.released.year }}) - {{ movie.genre.name }} </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}